/* padding definitions */
.p-5 {
  padding: 5px;
}

.p-tb-10 {
  padding: 10px 0;
}

.p-l-5 {
  padding-left: 5px;
}

.p-r-5 {
  padding-right: 5px;
}

/* Definitions for flexible layout */
.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
}

.flex--center {
  justify-content: center;
}

.flex--start {
  justify-content: flex-start;
}

.flex--end {
  justify-content: flex-end;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--align-center {
  align-items: center;
}
