html,
body {
  font-family: Google Sans, Roboto, sans-serif;
}

body {
  width: 100px;
}

.sharepoint-site {
  width: 175px;
}

.p-l-5 {
  padding-left: 5px;
}

.link-popover {
  display: none;
  border-radius: 7px;
  padding: 1px 0 1px 5px;
  z-index: 2000;
  line-height: 1.4;
  text-align: justify;
}

.link-popover__content {
}

.link-popover__link {
  font-size: 17px;
}

.link-popover__link > svg {
  font-size: 21px;
}

.link-popover__link > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.link-popover__button-bar {
}

.popover-button {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  fill: currentColor;
  -webkit-flex: none;
  flex: none;
  border: none;
  background: transparent;
}

.popover-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*transition: transform 0.15s;*/
  transform: scale(0);
  border-radius: 50%;

  background-color: rgba(152, 163, 171, 0.3) !important;
}

.popover-button:active:before {
  transform: none;
}

.popover-button:hover,
.popover-button:focus {
}

.popover-button:active {
  outline: none;
}

.link-popover__arrow {
  width: 0;
  height: 0;
  position: absolute;
  border: 5px solid transparent;
  border-top-width: 0;
  top: -2px;
  left: calc(50% - 5px);
  margin: 5px 5px 0;
}

.link-popover__button-bar .popover-button.is-round {
  border-radius: 20px;
  height: 20px;
  padding: 20px;
}

.link-popover--visible {
  display: block;
}

/* DARK Style */
.msoffice-open--dark .link-popover__arrow {
  border-bottom-color: black;
}

.msoffice-open--dark .popover-button:active {
  color: white;
}

.msoffice-open--dark .popover-button:hover,
.msoffice-open--dark .popover-button:focus {
  color: #c9c9c9;
}

.msoffice-open--dark.link-popover {
  color: white;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(17, 17, 17, 1);
}

.msoffice-open--dark .popover-button {
  color: #fff;
}

/* LIGHT style */
.msoffice-open--light .link-popover__arrow {
  border-bottom-color: white;
}

.msoffice-open--light .popover-button:active {
  color: black;
}

.msoffice-open--light .popover-button:hover,
.msoffice-open--light .popover-button:focus {
  color: #5a5a5a;
}

.msoffice-open--light.link-popover {
  color: black;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.3);
  background-color: white;
}

.msoffice-open--light .popover-button {
  color: black;
}

/* Definitions for flexible layout */
.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
}

.flex--center {
  justify-content: center;
}

.flex--start {
  justify-content: flex-start;
}

.flex--end {
  justify-content: flex-end;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--align-center {
  align-items: center;
}
